.ninja_deps
*.o
*.json
*.log
*.pyc
*.so
build/*
deploy.egg-info/*
*.cmake
*.in
CMakeFiles/*
CMakeCache.txt
*.egg
Makefile
# Ignore large model files
modelzoo/*/*.safetensors
modelzoo/*/*/*.safetensors
*.safetensors
